.chats-body {
  padding: 0px;
}

.chats-body .header {
  background-color: #d5e0e9;
}

.chats-body .status-bar {
  background-color: #c0cad2;
}

.chat-screen {
  background-image: url("../images/chatBg.png");

  min-height: 100vh;
}

.chat__write {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #fcfcfc;
  /* 가운데 정렬 방법, left, right: 0, margin: 0 auto */
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 70%;
}

.chat__write-column input {
  padding: 8px 6px;
  width: 100%;
  border: none;
  font-size: 14px;
  background-color: #fcfcfc;
}

.chat__write-column input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  border-top: 1px solid #1f1f1f;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
}

.chat__messages .chat__timestamp {
  background-color: #fcfcfc;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -8px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
  font-weight: 500;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.incoming-message {
  align-self: flex-start;
}
.sent-message {
  align-self: flex-end;
}

.incoming-message img {
  width: 60px;
  border-radius: 35%;
  margin-right: 3px;
  margin-left: 3px;
}

.message .message_content {
  width: 100%;
}

.message .message_bubble {
  padding: 7px 9px;
  border-radius: 10px;
  margin: 7px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
}

.incoming-message .message_bubble {
  background-color: #fcfcfc;
  border-bottom-left-radius: 0px;
}

.sent-message .message_bubble {
  background-color: #fce006;
  border-bottom-right-radius: 0px;
}

.message__author {
  font-size: 16px;
  margin-left: 3px;
}

.message .message__timestamp {
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px 1px;
  align-self: flex-end;
  font-size: 10px;
  opacity: 0.8;
}

.chat__write-icon {
  margin-left: 10px;
}
