.find {
  margin-top: 100px;
}

/* header-list(li)로 구분된 아이콘들을 구분하기 위하여 flex, space-between 적용  */
.find .find__header-list {
  display: flex;
  justify-content: space-around;
}

/* header-list(li)내 span으로 구분된 항목을 (아이콘, 텍스트) 위, 아래로 구분하기 위하여 flex direction을 변경하여 적용*/
.find .header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.find .header-btn__title {
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.find .header-btn__icon {
  font-size: 12px;
}

.find .find__recommended {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #f7f7f7;
}

.find .find__title {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 15px;
}
